@charcet-utf-8;




@media screen and (min-width: 0px){

    header#principal{
        height: 70vw;
        background-image: url(../imagens/computador2.jpg); 
        background-position: left center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }

    header#principal > nav{
        position: sticky;
        z-index: 3;
        top: 0px;
        padding-top: 2%;
    }

    header#principal nav > a{
        text-decoration-line: none;
        color: rgba(255, 255, 255, 0.884);
        padding: 2% 4.5% 1%;
        transition-duration: 1s;
    }

    header#principal nav > a:hover{
        color: rgb(255, 255, 255);
        transition-duration: 1s;
        background-color: rgb(99, 99, 99);
        transition-duration: 0.8s;
    }

    header#principal nav > a:active{
        color: white;
        background-color: transparent;
    }

    header#principal > h1{
        font-family: Verdana, Arial, Geneva, Tahoma, sans-serif;
        font-size: 9vw;
        color: rgb(0, 0, 0);
        padding-top: 1.5%;
        max-width: 60%;
        text-align: center;
        font-weight: 600;
        text-transform: capitalize;
        font-variant: small-caps;

    }

    section header h2{
        font-size: 40px;
        margin-left: 1vw;
    }

    section#sesao1 p{
        text-align: justify;
        line-height: 30px;
    }


    article#artigo1 div#fora{
        display: flex;
        align-items: stretch;
        background-color: rgba(100, 100, 100, 0.281);
        margin: 0px 10px 20px 10px;
        padding: 0px 2vw 0px 0px;
    }

    article#artigo1 div#fora > div#dentro1{
        max-width: 50vw;
        margin: 0vw 0vw 0vw 0vw;
        padding: 0vw 0vw 0vw 0vw;
        border-right-style: solid;
        border-right-width: 0.1vw;
        border-color: white;
        
    }


    article#artigo1 div#fora div#dentro2{
        margin: 0vw 1vw 0vw 0vw;
        max-width: 46vw;
        padding: 0vw 0vw 0vw 2vw;
        border-radius: 50px;
    }

    article#artigo1 div#fora > div#dentro1 p.primeiro{
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: 0.1vw;
        padding: 0vw 2vw 2vw 2vw;
    }


    article#artigo1 div#fora div#dentro1 p.segundo{
        padding: 0vw 2vw 2vw 2vw;
    }

    article#artigo2 div#fora2{
        display: flex;
    }

    article#artigo2 div#fora2{
        background-color: rgba(100, 100, 100, 0.281);
        margin: 0px 7px 20px 7px;
        padding: 0vw 0vw 0vw 2vw;

    }

    article#artigo2 div#fora2 > div#dentro3{
        max-width: 45vw;
        padding: 0px 2vw 0px 0px;
        border-right-style:solid;
        border-right-color: white;
        border-right-width: 0.1vw;

    }

    article#artigo2 div#fora2 > div#dentro4{
        max-width: 50vw;
        padding: 0px 0vw 0px 0vw;
    }

    article#artigo2 div#fora2 > div#dentro4 p.primeiro{
        border-bottom-style:solid;
        border-bottom-color: white;
        border-bottom-width: 0.1vw;
        padding: 0px 2vw 2vw 2vw;
    }

    article#artigo2 div#fora2 > div#dentro4 p.segundo{
        padding: 0px 2vw 0px 2vw;
    }

    section#sesao2 article#artigo3 p{
        padding: 0px 2vw 0px;
        line-height: 30px;
        text-align: justify;
    }

    footer{
        padding: 5px;
        background-color: rgb(22, 22, 22);
        min-height: 10vh;
        color: rgb(219, 219, 219);
        text-align:center;
        font-size: 1em;
    }
}

/*@media  screen and (min-width: 831px) {



    header#principal{
        text-align: center;
        padding: 10px 10px; 
        background-image: url(../imagens/pexels-michaela-295826.jpg);
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }

    header#principal > h1{
        font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
        font-size: 7vw;
        color: white;
    }

    header#principal div.cadentro1{
        position: absolute;
        left: 8%;
        margin-top: -1%;
        max-width: 211px;
        text-align: justify;
        background-color: rgba(0, 0, 0, 0.493);
        border-radius: 5px;
        color: white;
        padding: 10px;
    }

    header#principal div.cadentro2{
        position: absolute;
        left: 57%;
        margin-top: -2%;
        max-width: 211px;
        text-align: justify;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.493);
        color: white;
        padding: 10px;
        z-index: 2;
    }

    header h2{
        font-size: 30px;
    }

    header p{
        max-width: 1085px;
        margin: auto;
    }

    section#sesao1{
        padding: 0%;
    }

    section#sesao1 p{
        text-align: justify;
        line-height: 30px;
    }

    article#artigo1{
        padding-bottom: 1%;
        padding-left: 1%;
    }

    article#artigo2{
        padding-bottom: 1%;
        padding-left: 1%;
    }

    div#fora{
        position: relative;
        display: block;
    }

    div#dentro1{
        position: relative;
        max-width: 45vw;
    }

    div#dentro2{
        position: absolute;
        max-width: 45vw;
        max-height: initial;
        padding-left: 2%;
        top: -3%;
        left: 50%;
    }

    div#fora2{
        position: relative;
        display: block;
    }

    div#dentro3{
        position: relative;
        max-width: 45vw;
    }

    div#dentro4{
        position: absolute;
        max-width: 45vw;
        max-height: initial;
        padding-left: 1%;
        top: -3%;
        left: 50%;
    }
}
*/